<body>

  <div class="container">

    <header>
      <h1>
        Facturator
      </h1>
    </header>
  
    <main>
      <mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="250ms">
        <mat-tab label="Lista de pagadores"><app-payer-list></app-payer-list></mat-tab> 
        <mat-tab label="Añadir pagador"><app-Payer></app-Payer></mat-tab> 
        <mat-tab label="Subir archivo"><app-invoice-order></app-invoice-order></mat-tab>  
      </mat-tab-group>
    </main>
  
    <footer>
      <div class="text">
        <p>
          Made with<span style="color: black; font-size:30px"> &hearts; </span>in Madrid
        </p>
      </div>
      <div class="text">
        <a href="https://www.linkedin.com/in/angel-serrano-noguerales/" target="_blank">
          <img class="icon" src="../assets/icons/linkedin.png" alt="">
        </a>
        <a href="https://github.com/AngelSerranone" target="_blank">
          <img class="icon" src="../assets/icons/github.png" alt="">
        </a>
      </div>
    </footer>

  </div>
  
</body>